{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
        <div class="row">
            <div class="col-12">
                <div id="mainCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for carousel_item in page.carousel_items.all %}
                            <li data-target="#mainCarousel" data-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for carousel_item in page.carousel_items.all %}
                            <div class="carousel-item  {% if forloop.first %}active{% endif %}">
                                <a href="{% pageurl carousel_item.link fallback="products" %}">
                                    {% image carousel_item.image fill-1110x625-c100 alt="Slide Image" class="img-fluid d-block w-100" %}
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ carousel_item.title }}</h5>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                {{ page.intro|richtext }}
            </div>
        </div>

        <div class="row">
            {% for carousel_item in page.carousel_items.all %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <a href="{% pageurl carousel_item.link fallback="products"  %}">{% image carousel_item.image fill-350x186-c100 alt="Card Image" class="card-img-top" %}</a>
                    </div>
                    <div class="card-body">
                        <a href="{% pageurl carousel_item.link fallback="products"  %}" class="btn btn-outline-success">Lees
                            meer</a><br/><br/>
                        <h5 class="card-title">
                            {{ carousel_item.title }}
                        </h5>
                        <div class="card-text">

                            {{ carousel_item.caption }}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
{% endblock content %}
