{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container pt-5">

        <h1>{{ page.caption }}</h1>
    {{ page.general_info|richtext }}
    {% for detail in page.product_details.all %}
        <div class="row">
        <div class="col-12"><h5>{{ detail.caption }}</h5></div>
        <div class="col-6">{% image detail.image fill-150x120-c100 alt="Card Image" class="card-img-top" %}</div>
        <div class="col-6">{{ detail.info|richtext }}</div>
        </div>
    {% endfor %}
    </div>
{% endblock %}