{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block background %}
    <script>
     var delete_bg = True;
     if ("opacity" in document.body.style){
         delete_bg = False;
     }
    </script>
    {% image page.specific.image fill-2240x1260 as bg_image %}
    <div id="modern-bg" style="background: url({{ bg_image.url }});
            position: fixed;
            height: 100%;
            width: 100%;
            opacity: 15%;
            background-attachment: scroll;
            background-size: cover;"
    >

    </div>

    <script>if (window.document.documentMode ||delete_bg) {
        var bg = document.getElementById('modern-bg');
        bg.parentElement.removeChild(bg);
    }</script>
{% endblock %}
{% block content %}


    <div class="row">
        {% for child in self.get_children.specific %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <a href="{% pageurl child %}">{% image child.image fill-350x186-c100 alt="Card Image" class="card-img-top" %}</a>
                </div>
                <div class="card-body">
                    <a href="{% pageurl child %}" class="btn btn-outline-success">Lees
                        meer</a><br/><br/>
                    <h5 class="card-title">
                        {{ child.title }}
                    </h5>
                    <div class="card-text">

                        {{ child.caption }}
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    <h1>{{ page.caption }}</h1>
    {{ page.general_info|richtext }}
    {% for detail in page.product_details.all %}
        <div class="row">
            <div class="col-12"><h5>{{ detail.caption }}</h5></div>

            <div class="col-12 col-md-6">{% image detail.image fill-700x372-c100 alt="Card Image" style="max-width:100%; width:auto; height:auto" %}</div>
            <div class="col-12 col-md-6">{{ detail.info|richtext }}</div>

        </div>
    {% endfor %}

{% endblock %}