Django>=3.1,<3.2
wagtail>=2.11,<2.12
wagtailmenus
django-settings-export
django-verify-email
django-bootstrap-modal-forms
django-extensions
django-crispy-forms
psycopg2-binary
django-measurement
django-ses
social-auth-app-django
gunicorn
uvicorn
jupyter
ipython
django-extensions
django-cookie-consent
