Django>=3.1,<3.2
django-bootstrap-modal-forms<=2.0.1
django-cookie-consent
django-crispy-forms
django-extensions
django-filter
django-measurement
django-ses
django-settings-export
django-verify-email
gunicorn
html2text
ipython
jupyter
psycopg2-binary
social-auth-app-django
uvicorn
wagtail>=2.11
wagtailmenus
