{% load static wagtailuserbar %}
{% load menu_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZR0M3Q4K9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-CZR0M3Q4K9');
    </script>
    {# Global stylesheets #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/imounthai.css' %}">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}


<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img height="66px" src="{% static 'images/logo.png' %}"></a>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto navbar-dark">
            <li class="nav-item "><a class="btn btn-outline-light" href="/accounts/{{ user.id }}/edit"><span class="small">{{ user }}</span></a></li>
            <li  class="nav-item "><a class="btn btn-outline-light" href="/shop/cart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
        {% endif %}
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% main_menu template="main_menu.html" %}
        </div>
    </div>
</nav>
{% block background %}
{% endblock %}
 <div class="container navbar-top-padding">
{% block content %}

{% endblock %}
 </div>

{# Global javascript #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/imounthai.js' %}"></script>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
