{% load static %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true"
       id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".has-modal").each(function () {
            $(this).modalForm({formURL: $(this).data('url'), errorClass: "errorlist"});
        });
        $(".open-modal").trigger("click")
    });
</script>