{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>Winkelwagen</h3>
  </div>
</div>
{% for order in orders.all %}
<div class="row">
  <div class="col">
    <h3>Bestelling # {{ forloop.counter }}
      {% if order.is_available %}
      <button class="float-right btn btn-outline-primary has-modal"
              data-url="{% url 'confirm_order' order.id %}?advance_stage=1">Bestel!
      </button>
      {% else %}
      <span class="bg-warning">Eén of meerdere ingredienten zijn niet beschikbaar</span>
      {% endif %}
    </h3>
    {% for recipe in order.ordered_recipes.all %}
    <p>{{ recipe.recipe.name }}
      <button class="btn btn-outline-primary has-modal" data-url="{% url 'update_order_quant' recipe.id %}">
        {{ recipe.servings }}
      </button>
      Porties
      {% if recipe.recipe.edit_allowed %}
      <button
          class=" float-right btn btn-outline-primary has-modal {% if recipe.recipe.id == open_recipe %}open-modal{% endif %}"
          data-url="{% url 'update_temp_recipe' recipe.recipe.id %}"><i class="fas fa-edit"></i></button>
      {% else %}
      <a class=" float-right btn btn-outline-primary"
         href="{% url 'create_temp_recipe' recipe.id recipe.recipe.id %}"><i class="fas fa-edit"></i></a>

      {% endif %}
      <button class="float-right btn btn-outline-danger has-modal" data-order-id="{{ order.id }}"
              data-url="{% url 'remove_recipe' recipe.id %}"><i
          class="fas fa-trash"></i></button>
    </p>
    <table class="table table-responsive">
      <tr>
        <th>Ingredient</th>
        <th>Prijs</th>
      </tr>
      {% for ingredient in recipe.recipe.ingredients.all %}
      <tr>
        <td width="auto" class="{% if not ingredient.ingredient.is_available %}bg-warning{% endif %}">
          {{ ingredient }}
        </td>
        <td>&euro; {{ ingredient.price_with_vat | floatformat:2 }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th>Totaal 1 x gerecht</th>
        <td>&euro; {{ recipe.serving_price |floatformat:2 }}</td>
      </tr>
      <tr>
        <th>Totaal ( x {{ recipe.amount_multiplier }})</th>
        <td>&euro; {{ recipe.total_price | floatformat:2 }}</td>
      </tr>
    </table>
    {% endfor %}
    {% for line in order.custom_lines.all %}
    <table class="table-responsive table">
      <tr>
        <th>Omschrijving</th>
        <th>Hoeveelheid</th>
        <th>Prijs per stuk</th>
        <th>Totaal</th>
      </tr>
      <tr>
        <td>{{ line.description }}</td>
        <td>{{ line.quantity }}</td>
        <td>&euro; {{ line.user_price |floatformat:2 }}</td>
        <td>&euro; {{ line.user_total |floatformat:2 }}</td>
      </tr>
    </table>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="float-right align-content-end">
      <table>
        <tr>
          <th>Totaal ex BTW</th>
          <td>&euro; {{ order.total_price_no_vat |floatformat:2 }}</td>
        </tr>
        <tr>
          <th>BTW</th>
          <td>&euro; {{ order.total_vat |floatformat:2 }}</td>
        </tr>
        <tr>
          <th>Totaal incl BTW</th>
          <td>&euro; {{ order.total_price |floatformat:2 }}</td>
        </tr>
      </table>

    </div>
  </div>
</div>
{% endfor %}


{% endblock %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
      integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% include 'modal-js.html' %}
{% endblock %}
