{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block content %}
  <div class="row">
    <div class="col">
      <h2>{{ recipe.name }}
      <button class="btn btn-outline-primary btn-lg float-right has-modal" data-url="{% url "add_to_cart" recipe.id %}">Bestel</button>
        </h2>
    </div>
  </div>
  <div class="row">

    <div class="col-6">
      <div class="row">
        <div class="col">
          {% image recipe.image fill-500x266-c100 alt="Recipe Image" %}
        </div>
      </div>
      <div class="row">
        <div class="col">
        <h5>Ingredientenlijst</h5>
        <p>Voor {% if recipe.base_servings <= 1 %}1 portie{% else %}{{ recipe.base_servings }} porties{% endif %}</p>
          <ul>
            {% for ingredient in recipe.ingredients.all %}
              <li>{{ ingredient.get_measurement }} {{ ingredient.ingredient }} ({{ ingredient.process_method }})</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6">{{ recipe.description|richtext }}</div>
  </div>


  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sendMeasurementModal" aria-hidden="true"
       id="modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

{% endblock %}
{% block extra_js %}
  {% include 'modal-js.html' %}
{% endblock %}