{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% image recipe.image  fill-500x266-c100 as tmp_img %}
{% block og_tags %}
  <meta property="og:title" content="Immuunthai - {{ recipe.name }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ recipe.description|striptags }}"/>
<meta property="og:image" content="{{ recipe.image.file.url }}" />
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <h2>{{ recipe.name }}
      <button class="btn btn-outline-primary btn-lg float-right has-modal" data-url="{% url "add_to_cart" recipe.id %}">In winkelwagen</button>
        </h2>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="col">
          {% image recipe.image fill-500x266-c100 alt="Recipe Image" class="img-fluid" %}
        </div>
      </div>
      <div class="row">
        <div class="col">
        <h5>Ingredientenlijst</h5>
        <p>Voor {% if recipe.base_servings <= 1 %}1 portie{% else %}{{ recipe.base_servings }} porties{% endif %}</p>
          <ul>
            {% for ingredient in recipe.ingredients.all %}
              <li>{{ ingredient.get_measurement }} {{ ingredient.ingredient }} {% if ingredient.process_method %}({{ ingredient.process_method }}){% endif %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">{{ recipe.description|richtext }}</div>
  </div>

{% endblock %}
{% block extra_js %}
  {% include 'modal-js.html' %}
{% endblock %}
